.content{
    .container{
        
        display: block;
        margin-top: 150px;
        @media screen and (max-width: 772px){
            
            margin: 20px auto 0px;
        }
        .innercontainer{
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-direction: row;
            @media screen and (max-width: 772px){
                flex-direction: column;
                align-items: center;
            }
            .box{
                width: 25%;
                float: left;
                text-align: center;
                .chart{
                    width: 110px;
                    height: 110px;
                    margin: 0 auto;
                    position: relative;
                    text-align: center;
                    font-size: 30px;
                    line-height: 110px;
                    @media screen and (max-width: 772px){
                        width: 61px;
                        height: 91px;
                        font-size: 20px;
                        line-height: 80px;
                    }
                    canvas{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        @media screen and (max-width: 772px){
                            width: 50px;
                            height: 50px;
                            top:-11px;
                            left:-30px;
                        }
                    }
                }
                
            }
        }
    }   
}