@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import './loader';
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.header{
    overflow: hidden;
    background: linear-gradient(to right, #F8E99B,#EFC27B,#E592BF,#B681D5);
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    .mydevimg{
        display: none;
    }
    p{
        margin: 0px;;
    }
    .logo{
        margin-left: 20px;
        font-size: 20px;
        font-weight: 700;
        width: 100%;
    }
    #mydimg{
        opacity: 0.9;
        bottom: -130px;
        left: 0px;
        position: absolute;
        margin: 0px;
        padding: 0px;
        img{
            padding: 0px;
        }
    }
    nav{
        width: 100%;
       ul{
           position: relative;
           margin: 0px;
           padding: 0px;
           display: flex;
           justify-content: space-around;
           align-items: center;
           li{
               justify-content: center;
            // vertical-align: center;
            text-align: center;
               display: inline;
            //    padding: 0px 1em;
               a{
                   display: inline-block;
                   padding: 10% 10%;
                   color: #ffffff;
                   opacity: 0.5;
                   font-weight: 700;
                   &:hover{
                       opacity: 1;
                   }
               }
           }
           
       } 
    }
}
.content{
    background: url(../image/bg.png);
    background-position: center;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: content;
    
    .hero{
        padding: 2em 0px;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        img{
            max-width: 200px;
        }
        .hero-detail{
            
            p{
                font-size: 17px;
                font-weight: 500;
                // box-sizing: border-box;
            }
            i{
                font-size: 16px;
                margin: 10px 10px;  
            }
        }
    }
    .action-button{
        text-align: center;
        display: inline-block;
        width: 100px;
        margin: 4em auto;
        padding: 10px 15px;
        color: white;
        transition: 0.5s;
        // border: 1px solid blue;
        background-image: linear-gradient(to right,rgb(206, 165, 230),rgb(102, 134, 240));
        border-radius: 25px;
        &:hover{
            background-image: linear-gradient(to right,rgb(182, 107, 226),rgb(60, 100, 231));
            box-shadow: 8px 11px 20px 2px lightblue;
        }
    }
}
.footer{
    background-color: #e8e8e8;
    grid-area: footer;
    ul{
        font-size: 3em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5em 0;
        li a{
            color: rgba(90, 78, 89, 0.5);
        }
    }
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 600px 200px;
    grid-template-areas: "header" "content" "footer";
    // @media screen and (max-width: 600px) {
    //     grid-template-rows: 70px 00px 100px;
    // }
}

@media (max-width: 600px){
    .header{
        // font-size: 0.6em;
        font-size: 12px;
        padding: 3em 0px;
        .logo{
            font-size: 18px;
        }
        .sidebar{
            text-transform: uppercase;
            ul{
                li{
                     // background-color: rgba(92, 92, 92, 0.297);

                    a{
                        // background-color: rgba(92, 92, 92, 0.297);
                    }
                }
            }
        }
    }    
    .footer{
        i{
            font-size: 0.6em;
        }
    }
}
@media (max-width: 400px){
    .header{
        // font-size: 0.6em;
        font-size: 12px;
        padding: 3em 0px;
        .logo{
            display: none;
            font-size: 18px;
        }
    }    
}
@media (min-width:1040px){
    .container{
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: "header content" "header footer";
        .hero{
            text-align: left;
            img{
                margin: 2em;
                width: 200px;
                height: 12em;
                float: left;
            }
            display: flex;
            direction: column;
            flex-flow: row-reverse;
            justify-content: space-between;
            // align-items: center;

        }
    }
    .header{
        background: linear-gradient(to bottom,#E592BF,#B681D5);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .mydevimg{ 
            display: block;
            img{
                width: 200px;
                height: 200px;
            }
            
        }   
        .logo{
            background-image: url(../image/bg3.png);
            // background-color: #F8E99B;
            background-size: cover;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 1em;
            text-align: center;
            height: 20%;
            p{
                color: Black;
                font-size: 25px;
                font-weight: 800;
                margin: 2em 0px;
            }
        }
        nav{
            margin-top: 40px;
            height: 80%;
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                li{
                    padding: 1.3em 0px;
                }
            }
        }
    }
    .content{
        .hero{
            img{
                // max-width: 400px;
            }
        }
    }
}

.loader-div{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theading{
    color: black; 
    font-weight:700;
    font-size:20px;
}